/node_modules
/public/hot
/public/storage
/vendor
/.phpintel
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbprojectcghooks.lock
/cghooks.lock
/nbproject
.env.testing
/.vscode
.docker
/.history
.phpunit.result.cache
